<aside class="sidebar flex flex-col h-full justify-between">

  <div class="overflow-y-auto w-101">
    @if (images?.length) {
      <app-slideshow-component [images]="images"></app-slideshow-component>
    }

    <div class="px-4 pb-4">
      @if (location) {

        <!-- Кнопка перемикання між Location та Pending -->
        @if (pendingVersion) {
          <div class="my-3 flex justify-center">
            <button
              (click)="toggleView()"
              class="authorization-btn text-sm">
              {{ currentView === 'location' ? '🔁 Показати оновлену версію' : '↩ Повернутись до оригіналу' }}
            </button>
          </div>
        }
        <app-location-info [location]="displayData" [criteriaTree]="criteriaTree"></app-location-info>

      } @else {
        <!-- Порожній стан -->
        <div class="flex flex-col items-center justify-center h-[70vh] text-center">
          <h1 class="font-semibold text-[max(20px,1.7vw)] mb-3 text-deep-dark-blue">Виберіть локацію<br>на карті</h1>

          <svg viewBox="0 0 512 512" class="w-1/3 h-1/3 max-w-56 max-h-60">
            <g>
              <path
                d="M 135 110 A 80 80 90 1 1 274 110"
                stroke="#000"
                stroke-width="20"
                fill="none"/>
              <path
                class="hand"
                d="M395.89,262.14v-5.972c0-24.865-20.229-45.095-45.095-45.095c-10.197,0-19.614,3.402-27.177,9.131
                  c-6.127-17.638-22.916-30.333-42.613-30.333c-9.111,0-17.598,2.715-24.696,7.379V122.77c0-24.865-20.229-45.095-45.095-45.095
                  c-24.865,0-45.095,20.229-45.095,45.095v169.522c-24.485-34.331-72.001-43.907-108.003-21.024
                  c-4.313,2.742-5.932,8.251-3.786,12.89l10.018,21.66c13.446,29.071,30.819,56.153,51.64,80.492l9.543,11.156
                  c15.476,18.091,32.699,34.868,51.19,49.863c8.025,6.507,12.592,16.165,12.532,26.497l-0.164,27.915
                  c-0.016,2.715,1.052,5.325,2.966,7.251c1.914,1.926,4.518,3.009,7.233,3.009h223.508c5.633,0,10.199-4.566,10.199-10.199v-34.145
                  l11.04-32.737c9.675-28.69,14.58-58.59,14.58-88.868v-11.699C458.614,297.603,431.289,267.115,395.89,262.14z M438.216,346.052
                  c0,28.057-4.546,55.763-13.511,82.349l-11.574,34.322c-0.354,1.049-0.534,2.151-0.534,3.259v25.619h-203.05l0.104-17.657
                  c0.097-16.555-7.222-32.032-20.081-42.459c-17.533-14.219-33.864-30.125-48.538-47.279l-9.543-11.156
                  c-19.606-22.919-35.966-48.421-48.627-75.794l-5.997-12.966c11.599-5.171,24.496-6.489,37.118-3.676
                  c15.536,3.462,28.794,12.767,37.333,26.201l16.395,25.797c2.434,3.829,7.105,5.588,11.457,4.322
                  c4.355-1.267,7.351-5.258,7.351-9.793V122.77c0-13.618,11.078-24.696,24.696-24.696s24.696,11.078,24.696,24.696v171.827
                  c0,5.633,4.566,10.199,10.199,10.199s10.199-4.566,10.199-10.199v-59.632c0-13.618,11.078-24.696,24.696-24.696
                  s24.696,11.078,24.696,24.696v59.632c0,5.633,4.566,10.199,10.199,10.199c5.633,0,10.199-4.566,10.199-10.199v-38.43
                  c0-13.618,11.078-24.696,24.696-24.696s24.696,11.078,24.696,24.696v54.332h-0.001c0,5.633,4.566,10.199,10.199,10.199
                  c5.633,0,10.199-4.566,10.199-10.199V282.83c24.097,4.762,42.326,26.05,42.326,51.522V346.052z"/>
            </g>
          </svg>

        </div>
      }
    </div>

    <!-- Нижній блок (дублікат) -->
    <div *ngIf="duplicateMode && location" class="mt-4 border-t pt-3">
      <p class="font-medium text-gray-700 mb-2">Це ваша локація? (перейти до редагування)</p>
      <div class="flex gap-3">
        <button (click)="confirmYes()" class="px-4 py-2 rounded bg-green-600 text-white hover:bg-green-700">Так</button>
        <button (click)="confirmNo()" class="px-4 py-2 rounded bg-gray-200 hover:bg-gray-300">Ні</button>
      </div>
    </div>
  </div>

  <!-- Нижній блок із посиланнями -->
  @if (location) {
    <div class="p-2 border-gray-300 text-sm text-gray-700">

      <!-- Оцінювання -->
      @if (location.status === 'published') {

        <div class="flex justify-around">
          <a (click)="goToEvaluation($event, location.id)"
             class="inline-block m-1 px-3 py-1 rounded-md bg-[#0A1828] text-white text-sm text-center font-medium
             hover:bg-[#132540] transition shadow">
            ➜ Перейти до оцінки
          </a>

          @if (!duplicateMode) {
            <!-- Оновлення локації -->
            <button (click)="openPendingCopyForm($event)"
                    class="m-1 px-3 py-1 rounded-md bg-[#0A1828] text-white text-center text-sm font-medium
               hover:bg-[#132540] transition shadow">
              ✎ Внести нові дані
            </button>
          }
        </div>
      } @else {
        <div class="p-2 bg-gray-50 rounded-lg border border-gray-200 text-gray-500 italic shadow-sm;">
          Оцінювання @if (!duplicateMode) {
          та редагування
        } можливе лише для опублікованих локацій.
        </div>
      }

      <!-- Модалка оновлення даних -->
      @if (showPendingCopyForm) {
        <app-location-create-form
          mode="pendingCopy"
          [locationId]="location.id"
          [prefillData]="displayData"
          (close)="showPendingCopyForm = false"
          (saved)="onPendingCopySaved($event)">
        </app-location-create-form>
      }
    </div>
  }

</aside>
