<nav class="bg-light-olive-green text-deep-jungle-green shadow-md">
  <div class="w-full px-4">
    <div class="flex justify-between items-center h-14">

      <div class="flex items-center space-x-2">
        <span class="text-2xl font-bold">PLM_router</span>
      </div>

      <div class="hidden md:flex space-x-6 items-center">
        <a routerLink="/map" class="hover:underline focus:outline-none focus:ring-2 focus:ring-white">
          Карта
        </a>
        <a routerLink="/about" class="hover:underline focus:outline-none focus:ring-2 focus:ring-white">
          Про проєкт
        </a>

        @if (isAdmin) {
          <a routerLink="/admin" class="hover:underline focus:outline-none focus:ring-2 focus:ring-white">
            Адмін-панель
          </a>
        }

        @if (!isLogin) {
          <button (click)="openLogin()"
                  class="ml-4 px-4 py-1 rounded-lg bg-deep-jungle-green text-light-olive-green font-semibold hover:bg-light-olive-green hover:text-deep-jungle-green transition">
            Увійти
          </button>
        } @else {
          <a routerLink="/cabinet" class="hover:underline focus:outline-none focus:ring-2 focus:ring-white">
            Мій кабінет
          </a>
          <button (click)="logout()"
                  class="ml-4 px-4 py-1 rounded-lg bg-deep-jungle-green text-light-olive-green font-semibold hover:bg-light-olive-green hover:text-deep-jungle-green transition">
            Вийти
          </button>
        }
      </div>

      <div class="md:hidden">
        <button (click)="toggleMenu()" class="focus:outline-none focus:ring-2 focus:ring-white">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  @if (isOpen) {
    <div class="md:hidden light-olive-green-background">
      <a routerLink="/map" class="block px-4 py-2 hover:bg-deep-jungle-green hover:text-light-olive-green">Карта</a>
      <a routerLink="/about" class="block px-4 py-2 hover:bg-deep-jungle-green hover:text-light-olive-green">Про проєкт</a>
      @if (isAdmin) {
        <a routerLink="/admin" class="block px-4 py-2 hover:bg-deep-jungle-green hover:text-light-olive-green">Адмін-панель</a>
      }
      @if (!isLogin) {
        <button (click)="openLogin()"
                class="ml-4 px-4 py-1 rounded-lg bg-deep-jungle-green text-light-olive-green font-semibold hover:bg-light-olive-green hover:text-deep-jungle-green transition">
          Увійти
        </button>
      }
    </div>
  }
</nav>
